body{
    background-color: #f9f9f9;
    color: #333;

}
header{
    background-color: #003366;
    color: #fff;
    text-align: center;

}
nav{
    text-align: center;
}
ul{
    color: #fff;

}
.skip-link{
    background-color: #000;
    color: #fff;
}